body {
    margin: 0px;
}

.content-wrapper{
    padding: 20px;
}

.nav-link-bag {
    height: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-bag a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-link-bag a:hover {
    border-bottom: 1px solid lightgray;

}

.nav-link-bag a:hover {
    color: whitesmoke;
}

.body-wrapper {
    align-content: center;
}

.body-content {
    font-style: italic;
    font-size: 120px;
    text-align: center;
}

.sections-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-wrapper {
    position: relative;
}

.section-img-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 80%;
    margin-bottom: 20px;
}

.subtitle a {
    font-size: 30px;
    text-decoration: none;
    color: azure;
}

.subtitle a:hover {
    color: slategrey
}

/* about */
.about-wrapper {
    font-size: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.link-image-wrapper img {
    width: 700px;
    height: 500px;
}

.link-content-wrapper {
    font-size: 20px;
}

.text-wrapper {
    text-align: center;
    font-size: 20px;
}

.HOPE {
    text-align: center;
    font-size: 50px;
}

.HOPE a {
    color: rgb(63, 61, 61);
    border-bottom: 2px;
    
}

.design-img img {
    align-content: center;
    width: 700px;
    height: 500px;
}

.message {
    text-align: center;
    font-size: 50px;
}

.content {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.video a {
    color: black;
    border-bottom: 2px;
    font-size: 50px;
}
